/*******************************************************/
/********************** GENERAL ************************/
/*******************************************************/
@font-face {
    /*font-family: 'Lagom';
    src: url('../fonts/darin/LagomGeometrisk-Regular.ttf'),
        url('../fonts/darin/LagomGeometrisk-Regular.eot?'); /* EOT file for IE */
    
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    a {
		text-decoration: none;
	}
}

button {
	margin-right: 1em;
	background-color: black;
	border: none;
	color: white;
	height: 50px;
	margin-top: 1em;
	text-transform: uppercase;
	width: 200px;

	p {
		font-size: 0.7em;
		line-height: 50px;
		margin-top: 0;
		margin-bottom: 0;
		text-align: center;
		text-transform: uppercase;
		vertical-align: middle;
	}
	
	&:hover {
		background-color: white;
		outline: solid #b8afa7 1px;
		color: black;
	}
}
/*******************************************************/
/************************ MENU *************************/
/*******************************************************/
header {
	background-color: #F9F9F9;
	
	img {
		width: 239px;
		height: 50px;
		background-size: 20px;
		position: absolute;
		left: 40px;
		top: 20px;
	}
	
	.menu {
		width: 100%;
		position: absolute;
		height: 100px;
		background: white;
		
		.main-menu{
			
			ul {
				list-style-type: none;
				padding-left: 0;
				
				li {
					.fa {
						color: black;
						font-size: 3.5em;
					}
					 
					a {
						color: black;
						font-size: 13px;
						letter-spacing: 1px;
						line-height: 20px;
						text-transform: uppercase;
						
					}
				}
			}
		}
	}
}
/*******************************************************/
/************************ SHOP *************************/
/*******************************************************/
.shop {
	background-color: #F9F9F9;
	padding-top: 5em;
	padding-bottom: 2em;
	width: 100%;

	//style, index.php (shopen)
	.items {
		margin: 0 auto;
		padding-bottom: 5%;
		padding-top: 2.5%;

		ul {
			list-style-type: none;
			padding: 0px;
    		margin: 0px;
    		overflow: hidden;
    		
    		a {
    			color: black;
    			
    			&:hover {
    				color: black;
    			}
    		}

			.item {				
				img {
					width: 100%;
				}

				.item-info {
					background-color: white;
					margin-top: -10px;
					padding: 1em 1em;

					h2 {
						font-size: 1em;
						text-transform: uppercase;
					}

					p {
						font-size: 0.8em;
					}
				}
			}
		}
	}
	
	//style, single-item.php (sida där en produkt visas)
	.item-show {
		background-color: white;
		margin: 0 auto;
		position: relative;

		.item-image {
			img {
				//height: auto;
			}
		} 

		.item-info {
			height: 100%;
			
			p {
				font-weight: normal;
				font-size: 0.8em;
			}

			.options{
				h3 {
					text-transform: uppercase;
				}

				fieldset {
					border: none;
					margin-left: 0;
					padding-left: 0;
									
					select {
						height: 28px;
    					line-height: 28px;
						width: 200px;
					}
				}

				h3 {
					font-size: 1.1em;
				}
				
				p{
					margin-top: 0;
					margin-bottom: 0;
				}

				.price {
					font-size: 2em;
					font-weight: bold;
				}
			}
			
			.social-share {
				margin-top: 1em;

				.social-icon {
					height: 30px;
					outline: solid black 1px;
				}
			}

			//bakåtlänk till shoppen
			.back {
				height: 0.8em;
				margin-top: 1.5em;
				margin-bottom: 1em;
				
				a {
					color: black;
					
					&:visited {
						color: black;
					}
					
					&:after {
						clear: both;
						content: "";
						display: block;
					}
					
					.fa, p {
						float: right;
						font-size: 0.8em;
						line-height: 0.8em;
						vertical-align: middle;
					}
					
					.fa {
						margin-right: 0.4em;
					}
					
					p {
						margin-top: 0;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
/*******************************************************/
/********************** VARUKORG ***********************/
/*******************************************************/
#shopping-cart {
	background-color: white;
	display: none;
	padding: 1em 2em;
	
	h2 {
		width: 900px;
		margin-top: 0;
		text-transform: uppercase;
	}
	
	ul {
		border-bottom: solid #d3d3d3 2px;
		list-style-type: none;
		padding-left: 0;
	}
	
	.shopping-cart-item {
		border-top: solid #d3d3d3 2px;
		padding: 0.5em 0;
		
		h3 {
			margin-top: 0;
			margin-bottom: 0.4em;

		}

		img {
			height: 100px;
			width: 300px;
		}
		
		img, ul {
			float: left;
		}
		
		ul {
			border-bottom: none;
			padding-left: .5em;
			
			span {
				font-weight: normal;
				font-size: 1em;			
			}	
		}
		
		&:after {
			clear: both;
			content: "";
			display: block;
		}
		
		li:last-of-type {
			color: red;
			//float: right;
		}
		
		button {
			margin: 0 auto;
		}
	
		.fa {
			padding-left: .5em;
		}
	}
}
/*******************************************************/
/********************** CHECKOUT ***********************/
/*******************************************************/
.checkout-head {
	margin-top: 4px;
	margin-bottom: 4px;
	background: #333;
	
	h1 {
		font-size: 2.1em;
    	margin-bottom: 3px;
	}
	
	h3 {
		color: white;
		margin: 4px 0 4px 0;
    	padding: 5px 10px;
    }
}

.payment-box-creditcard, .payment-box-invoice, .payment-box-paypal {
	font-size: .9em;
	margin: 10px 0 10px 0;

	ul {
		border: 1px solid #aeaeae;
		border-radius: 3px;
		margin: 0;
		padding: 5px;
		padding-top: 12px;

		li {
			list-style-type: none;
			display: inline;

			input {
				width: 1.25em;
				height: 1.25em;
			}
		}
	}
	
 	.payment-title {
		padding-left: 5px;
    	font-size: 0.9em;
    	font-weight: bold;		
	}
	
	.payment-desc {
		margin-left: 15px;
    	font-size: 0.9em;
	}
}

.shipping-container {
	max-width: 515px;
   	overflow: auto;
    padding-bottom: 5px;
    
    ul {
    	margin: 0;
		margin-top: 10px;
		overflow: auto;
		list-style-type: none;
		padding-left: 0px;
		
		li {
			width: 100%;
    		max-width: none;
    		
    		label, span {
	    		font-size: 13px;
    			font-weight: normal;
    			line-height: 18px;
    			cursor: default;
    			
    			a {
    				color: #000;
    				float: left;
    				margin-top: 36px;
    			}
    		}
    		
    		input {
    			display: inline-block;
			    width: 90%;
			    height: 18px;
			    padding: 4px;
			    font-size: 13px;
			    line-height: 18px;
			    color: #555;
			    border: 1px solid #ccc;
			    -webkit-border-radius: 3px;
			    -moz-border-radius: 3px;
			    border-radius: 3px;
			    margin-bottom: 9px;
			    
			    &[type=checkbox] {
			    	float: left;
				    display: inline-block;
				    font-size: 15px;
				    line-height: 1em;
				    margin: 36px .25em 0 0;
				    padding: 0;
				    width: 1.25em;
				    height: 1.25em;
				    -webkit-border-radius: .25em;
				    vertical-align: text-top;
    			}
    		}
    		
    		select {
    			display: inline-block;
			    width: 90%;
			    height: 28px;
			    padding: 4px;
			    font-size: 13px;
			    line-height: 18px;
			    color: #555;
			    border: 1px solid #ccc;
			    -webkit-border-radius: 3px;
			    -moz-border-radius: 3px;
			    border-radius: 3px;
    		}
		}
		
		.getKlarna-btn {
			margin-left: 1px;
			margin-bottom: 5px;
			margin-top: 5px;
		    padding: 5px;
		    font-size: 13px;
		    height: 2em;
		    width: 150px;
    	}
    }	
}

.confirmation-container {
	font-size: 13px;
	line-height: 18px;
	
	.summary-table {
		width: 100%;
	    margin-bottom: 15px;
    	
    	td {
    		line-height: 18px;
		    text-align: left;
		    border-top: 1px solid #ddd;
    	}
    	
    	th {
    		font-weight: bold;
		    border: 0;
		    text-align: left;
		    padding: 4px 15px 5px 0;
    	}
	}	
}

.message-from-user-container {
	font-size: 13px;
	line-height: 18px;
	
	.editor-label {
		margin-bottom: 8px;
	}
	
	.editor-field {
		textarea{
			width: 90%;
			height: 10em;
		}	
	}
}



/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/
footer {
	background-color: #363636;
	color: white;
	outline: solid black 1px;
	width: 100%;

	h5 {
		text-transform: uppercase;
	}

	ul {
		list-style-type: none;
		padding: 0px;
    	margin: 0px;
    	
		li {
			font-size: 0.7em;
			padding-bottom: 1em;
		
			a {
				color: white;
				
				&:visited {
					color: white;	
				}
				
				&:hover {
					color: grey;
				}
			}
		}	
	}

	.contact, .about {
		float: none;
		margin-left: 1.5em;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	
	img {
		display: none;
	}
}
/*******************************************************/
/******************* LINKS IN FOOTER *******************/
/*******************************************************/
.wrapper {
	background-color: #F9F9F9;
	padding-bottom: 5%;
	width: 100%;
	
	.content {
		background-color: white;
		margin: 0 auto; 

		h1, h2, h3 {
			text-transform: uppercase;
		}

		h1 {
			font-size: 1.8em;
			margin-bottom: 0;
		}

		h2 {
			font-size: 1.3em;
			margin-bottom: 0;
			padding-top: 1.3em;
		}

		h3 {
			font-size: 0.9em;
			margin-bottom: 0;
			padding-top: 0.5em;
		}
		
		h4 {
			font-size: 0.9em;
			margin-bottom: 0;
		}

		p {
			font-size: 0.9em;
			line-height: 18px;
			margin-top: 0.4em;
		}
		
		a {
			color: black;
			text-decoration: underline;
			
			&:hover {
				font-weight: bold;
			}
		}

		fieldset {
			border: none;
			
			padding-left: 0;

			input[type=text], textarea {
			    display: block;
			}
			
			input, textarea, select {
				color: black;
				margin-bottom: 5%;
				margin-top: 1%;
				padding: 1%;
			}

			textarea {
    			height: 100px;
    		}
		}
	}
}